body{
  background-color: pink;
  font-family: monospace
}

.container{
  text-align: center;
}

input{
  border-radius: 30px;
  height: 30px;
  text-align: center;
}

h3{
  text-align: center;
}

.App{
  padding:60px;
  margin-top: 60px; 
}

.App h1{
  text-align: center;
}